<nav class="navbar">
    <div class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-list" [ngClass]="{'active': isMenuOpen}">
        <li><a href="#">Home</a></li>
        <li *ngIf="isAuthenticated && userName"><a href="/reservation/history">Reservation History</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
        <li *ngIf="isAuthenticated"><a (click)="logout()" class="logout">Logout</a></li>
    </ul>
</nav>